div.header-wrapper
  div.logo-wrapper
    a(href='/')
      img.logo(src='/img/logo.svg')

    span Товары на все случаи жизни

  div.menu-and-userarea
    ul.main-menu
      li.menu-item #[a(href='/catalog') Каталог]
      li.menu-item #[a(href='/') Доставка и оплата]
      li.menu-item #[a(href='/') О нас]

    div.userarea
      span Вход / Регистрация
