.page-catalog {
  .categories-wrapper {
    display: flex;
    flex-wrap: wrap;

    .category-item {
      width: calc(25% - 20px);
      margin: 0 10px 20px;
      border: 1px solid #000;

      .image {
        height: 400px;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
